<h1>Is it popular?</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action= {% url 'search:result' %} method="post">
{% csrf_token %}
{{ form }}
<input type="submit" value="Check!" />
</form>

<h1>Here are the last 5 searches</h1>

{% if latest_searches %}
    <ul>
    {% for target in latest_searches %}
        <li>{{ target.target_name }}</li> {# detail here is defined in search/urls.py #}
    {% endfor %}
    </ul>
{% else %}
    <p>No searches have been performed.</p>
{% endif %}
